
/*
=========================================================================================
Additional box styles which can be invoked using the Flexible 2 theme configuration page
----------------------------------------------------------------------------------------
*/

/*
==========
box_shadow
----------
*/
div.box_shadow 
   {border-bottom: none;}
div.box_shadow > div.b0 
   {background-image: url(box_shadow/box_1x2.png); background-position: top; background-repeat: repeat-x;}
div.box_shadow > div.b0 > div.b1 
   {background-image: url(box_shadow/box_2x3.png); background-position: right; background-repeat: repeat-y;}
div.box_shadow > div.b0 > div.b1 > div.b2 
   {background-image: url(box_shadow/box_3x2.png); background-position: bottom; background-repeat: repeat-x;}
div.box_shadow > div.b0 > div.b1 > div.b2 > div.b3 
   {background-image: url(box_shadow/box_2x1.png); background-position: left; background-repeat: repeat-y;}
div.box_shadow > div.b0 > div.b1 > div.b2 > div.b3 > div.b4 
   {background-image: url(box_shadow/box_1x1.png); background-position: top left; background-repeat: no-repeat;}
div.box_shadow > div.b0 > div.b1 > div.b2 > div.b3 > div.b4 > div.b5 
   {background-image: url(box_shadow/box_1x3.png); background-position: top right; background-repeat: no-repeat;}
div.box_shadow > div.b0 > div.b1 > div.b2 > div.b3 > div.b4 > div.b5 > div.b6 
   {background-image: url(box_shadow/box_3x3.png); background-position: bottom right; background-repeat: no-repeat;}
div.box_shadow > div.b0 > div.b1 > div.b2 > div.b3 > div.b4 > div.b5 > div.b6 > div.b7 
   {background-image: url(box_shadow/box_3x1.png); background-position: bottom left; background-repeat: no-repeat;}
div.box_shadow > div.b0 > div.b1 > div.b2 > div.b3 > div.b4 > div.b5 > div.b6 > div.b7 > div.b8 > div.b9 
   {padding-top: 15px; padding-left: 15px; padding-right: 25px; padding-bottom: 25px;}

/*
========
box_blue
--------
*/
div.box_blue 
   {border-bottom: none;}
div.box_blue > div.b0 
   {background-image: url(box_blue/box_1x2.png); background-position: top; background-repeat: repeat-x;}
div.box_blue > div.b0 > div.b1 
   {background-image: url(box_blue/box_2x3.png); background-position: right; background-repeat: repeat-y;}
div.box_blue > div.b0 > div.b1 > div.b2 
   {background-image: url(box_blue/box_3x2.png); background-position: bottom; background-repeat: repeat-x;}
div.box_blue > div.b0 > div.b1 > div.b2 > div.b3 
   {background-image: url(box_blue/box_2x1.png); background-position: left; background-repeat: repeat-y;}
div.box_blue > div.b0 > div.b1 > div.b2 > div.b3 > div.b4 
   {background-image: url(box_blue/box_1x1.png); background-position: top left; background-repeat: no-repeat;}
div.box_blue > div.b0 > div.b1 > div.b2 > div.b3 > div.b4 > div.b5 
   {background-image: url(box_blue/box_1x3.png); background-position: top right; background-repeat: no-repeat;}
div.box_blue > div.b0 > div.b1 > div.b2 > div.b3 > div.b4 > div.b5 > div.b6 
   {background-image: url(box_blue/box_3x3.png); background-position: bottom right; background-repeat: no-repeat;}
div.box_blue > div.b0 > div.b1 > div.b2 > div.b3 > div.b4 > div.b5 > div.b6 > div.b7 
   {background-image: url(box_blue/box_3x1.png); background-position: bottom left; background-repeat: no-repeat;}
div.box_blue > div.b0 > div.b1 > div.b2 > div.b3 > div.b4 > div.b5 > div.b6 > div.b7 > div.b8 > div.b9 
   {padding-top: 15px; padding-left: 15px; padding-right: 25px; padding-bottom: 25px;}
/*
==============
box_blue_heavy
--------------
*/
div.box_blue_heavy 
   {border-bottom: none;}
div.box_blue_heavy > div.b0 
   {background-image: url(box_blue_heavy/box_1x2.png); background-position: top; background-repeat: repeat-x;}
div.box_blue_heavy > div.b0 > div.b1 
   {background-image: url(box_blue_heavy/box_2x3.png); background-position: right; background-repeat: repeat-y;}
div.box_blue_heavy > div.b0 > div.b1 > div.b2 
   {background-image: url(box_blue_heavy/box_3x2.png); background-position: bottom; background-repeat: repeat-x;}
div.box_blue_heavy > div.b0 > div.b1 > div.b2> div.b3 
   {background-image: url(box_blue_heavy/box_2x1.png); background-position: left; background-repeat: repeat-y;}
div.box_blue_heavy > div.b0 > div.b1 > div.b2> div.b3 > div.b4 
   {background-image: url(box_blue_heavy/box_1x1.png); background-position: top left; background-repeat: no-repeat;}
div.box_blue_heavy > div.b0 > div.b1 > div.b2> div.b3 > div.b4 > div.b5 
   {background-image: url(box_blue_heavy/box_1x3.png); background-position: top right; background-repeat: no-repeat;}
div.box_blue_heavy > div.b0 > div.b1 > div.b2> div.b3 > div.b4 > div.b5 > div.b6 
   {background-image: url(box_blue_heavy/box_3x3.png); background-position: bottom right; background-repeat: no-repeat;}
div.box_blue_heavy > div.b0 > div.b1 > div.b2> div.b3 > div.b4 > div.b5 > div.b6 > div.b7 
   {background-image: url(box_blue_heavy/box_3x1.png); background-position: bottom left; background-repeat: no-repeat;}
div.box_blue_heavy > div.b0 > div.b1 > div.b2> div.b3 > div.b4 > div.b5 > div.b6 > div.b7 > div.b8 > div.b9 
   {padding-top: 15px; padding-left: 15px; padding-right: 25px; padding-bottom: 25px;}

/*
==============
box_blue_bead
--------------
*/
div.box_blue_bead 
   {border-bottom: none;}
div.box_blue_bead > div.b0 
   {background-image: url(box_blue_bead/box_1x2.png); background-position: top; background-repeat: repeat-x;}
div.box_blue_bead > div.b0 > div.b1 
   {background-image: url(box_blue_bead/box_2x3.png); background-position: right; background-repeat: repeat-y;}
div.box_blue_bead > div.b0 > div.b1 > div.b2 
   {background-image: url(box_blue_bead/box_3x2.png); background-position: bottom; background-repeat: repeat-x;}
div.box_blue_bead > div.b0 > div.b1 > div.b2 > div.b3 
   {background-image: url(box_blue_bead/box_2x1.png); background-position: left; background-repeat: repeat-y;}
div.box_blue_bead > div.b0 > div.b1 > div.b2 > div.b3 > div.b4 
   {background-image: url(box_blue_bead/box_1x1.png); background-position: top left; background-repeat: no-repeat;}
div.box_blue_bead > div.b0 > div.b1 > div.b2 > div.b3 > div.b4 > div.b5 
   {background-image: url(box_blue_bead/box_1x3.png); background-position: top right; background-repeat: no-repeat;}
div.box_blue_bead > div.b0 > div.b1 > div.b2 > div.b3 > div.b4 > div.b5 > div.b6 
   {background-image: url(box_blue_bead/box_3x3.png); background-position: bottom right; background-repeat: no-repeat;}
div.box_blue_bead > div.b0 > div.b1 > div.b2 > div.b3 > div.b4 > div.b5 > div.b6 > div.b7 
   {background-image: url(box_blue_bead/box_3x1.png); background-position: bottom left; background-repeat: no-repeat;}
div.box_blue_bead > div.b0 > div.b1 > div.b2 > div.b3 > div.b4 > div.b5 > div.b6 > div.b7 > div.b8 > div.b9 
   {padding-top: 15px; padding-left: 15px; padding-right: 25px; padding-bottom: 25px;}

/*
==============
box_blue_filled
--------------
*/
div.box_blue_filled 
   {border-bottom: none;}
div.box_blue_filled > div.b0 
   {background-image: url(box_blue_filled/box_1x2.png); background-position: top; background-repeat: repeat-x;}
div.box_blue_filled > div.b0 > div.b1 
   {background-image: url(box_blue_filled/box_2x3.png); background-position: right; background-repeat: repeat-y;}
div.box_blue_filled > div.b0 > div.b1 > div.b2 
   {background-image: url(box_blue_filled/box_3x2.png); background-position: bottom; background-repeat: repeat-x;}
div.box_blue_filled > div.b0 > div.b1 > div.b2 > div.b3 
   {background-image: url(box_blue_filled/box_2x1.png); background-position: left; background-repeat: repeat-y;}
div.box_blue_filled > div.b0 > div.b1 > div.b2 > div.b3 > div.b4 
   {background-image: url(box_blue_filled/box_1x1.png); background-position: top left; background-repeat: no-repeat;}
div.box_blue_filled > div.b0 > div.b1 > div.b2 > div.b3 > div.b4 > div.b5 
   {background-image: url(box_blue_filled/box_1x3.png); background-position: top right; background-repeat: no-repeat;}
div.box_blue_filled > div.b0 > div.b1 > div.b2 > div.b3 > div.b4 > div.b5 > div.b6 
   {background-image: url(box_blue_filled/box_3x3.png); background-position: bottom right; background-repeat: no-repeat;}
div.box_blue_filled > div.b0 > div.b1 > div.b2 > div.b3 > div.b4 > div.b5 > div.b6 > div.b7 
   {background-image: url(box_blue_filled/box_3x1.png); background-position: bottom left; background-repeat: no-repeat;}
div.box_blue_filled > div.b0 > div.b1 > div.b2 > div.b3 > div.b4 > div.b5 > div.b6 > div.b7 > div.b8 > div.b9 
   {padding-top: 15px; padding-left: 15px; padding-right: 25px; padding-bottom: 25px;}
div.box_blue_filled, div.box_blue_filled a, div.box_blue_filled ul.primary li a {background-color: #0000FF; color: #FFFFFF;}
div.box_blue_filled ul.primary li a:hover {text-decoration: underline;}

/*
==============
box_grey
--------------
*/
div.box_grey 
   {border-bottom: none;}
div.box_grey > div.b0 
   {background-image: url(box_grey/box_1x2.png); background-position: top; background-repeat: repeat-x;}
div.box_grey > div.b0 > div.b1 
   {background-image: url(box_grey/box_2x3.png); background-position: right; background-repeat: repeat-y;}
div.box_grey > div.b0 > div.b1 > div.b2 
   {background-image: url(box_grey/box_3x2.png); background-position: bottom; background-repeat: repeat-x;}
div.box_grey > div.b0 > div.b1 > div.b2 > div.b3 
   {background-image: url(box_grey/box_2x1.png); background-position: left; background-repeat: repeat-y;}
div.box_grey > div.b0 > div.b1 > div.b2 > div.b3 > div.b4 
   {background-image: url(box_grey/box_1x1.png); background-position: top left; background-repeat: no-repeat;}
div.box_grey > div.b0 > div.b1 > div.b2 > div.b3 > div.b4 > div.b5 
   {background-image: url(box_grey/box_1x3.png); background-position: top right; background-repeat: no-repeat;}
div.box_grey > div.b0 > div.b1 > div.b2 > div.b3 > div.b4 > div.b5 > div.b6 
   {background-image: url(box_grey/box_3x3.png); background-position: bottom right; background-repeat: no-repeat;}
div.box_grey > div.b0 > div.b1 > div.b2 > div.b3 > div.b4 > div.b5 > div.b6 > div.b7 
   {background-image: url(box_grey/box_3x1.png); background-position: bottom left; background-repeat: no-repeat;}
div.box_grey > div.b0 > div.b1 > div.b2 > div.b3 > div.b4 > div.b5 > div.b6 > div.b7 > div.b8 > div.b9 
   {padding-top: 15px; padding-left: 15px; padding-right: 25px; padding-bottom: 25px;}

/*
==============
box_grey_grad
--------------
*/
div.box_grey_grad 
   {border-bottom: none;}
div.box_grey_grad > div.b0 
   {background-image: url(box_grey_grad/box_1x2.png); background-position: top; background-repeat: repeat-x;}
div.box_grey_grad > div.b0 > div.b1 
   {background-image: url(box_grey_grad/box_2x3.png); background-position: right; background-repeat: repeat-y;}
div.box_grey_grad > div.b0 > div.b1 > div.b2 
   {background-image: url(box_grey_grad/box_3x2.png); background-position: bottom; background-repeat: repeat-x;}
div.box_grey_grad > div.b0 > div.b1 > div.b2 > div.b3 
   {background-image: url(box_grey_grad/box_2x1.png); background-position: left; background-repeat: repeat-y;}
div.box_grey_grad > div.b0 > div.b1 > div.b2 > div.b3 > div.b4 
   {background-image: url(box_grey_grad/box_1x1.png); background-position: top left; background-repeat: no-repeat;}
div.box_grey_grad > div.b0 > div.b1 > div.b2 > div.b3 > div.b4 > div.b5 
   {background-image: url(box_grey_grad/box_1x3.png); background-position: top right; background-repeat: no-repeat;}
div.box_grey_grad > div.b0 > div.b1 > div.b2 > div.b3 > div.b4 > div.b5 > div.b6 
   {background-image: url(box_grey_grad/box_3x3.png); background-position: bottom right; background-repeat: no-repeat;}
div.box_grey_grad > div.b0 > div.b1 > div.b2 > div.b3 > div.b4 > div.b5 > div.b6 > div.b7 
   {background-image: url(box_grey_grad/box_3x1.png); background-position: bottom left; background-repeat: no-repeat;}
div.box_grey_grad > div.b0 > div.b1 > div.b2 > div.b3 > div.b4 > div.b5 > div.b6 > div.b7 > div.b8 > div.b9 
   {padding-top: 15px; padding-left: 15px; padding-right: 25px; padding-bottom: 25px;}




/*
===
pad
Used for unboxed areas which need to line up with boxed areas
---
*/
div.pad > div.b0 > div.b1 > div.b2 > div.b3 > div.b4 > div.b5 > div.b6 > div.b7 > div.b8 > div.b9 
   {padding-top: 15px; padding-left: 15px; padding-right: 25px; padding-bottom: 25px;}

