/* 

=====================================
"Bare bones" CSS for Flexible 2 theme 
-------------------------------------

Customisation should be carried out by altering custom.css.
 
*/

body {
	font-size: small;
	font-family: verdana, arial, sans-serif;
}

div#header_outer{
   clear: both;
}

div#logo {
   float: left;
   padding: 10px;
}

div.clearboth {
   clear: both;
}

a.top-link {
   display: none;
}

h1#title {
   float: left;
   font-size: large
}

div#content_outer{
   clear: left;
}

div#footer_outer {
   clear: both;
}

div#accessibility ul,
div#accessibility li,
div#accessibility div {
   display: inline;
}

div.modes h2,
div.modes h3,
div.modes div {
   display: inline;
   font-size: 1em;
}

div#left div.mode,
div#right div.mode {
   display:block;
   margin-left: 10px;
}

/* 1 column layout */
body.no-sidebars div#centre {
}

/* 2 column layout */
body.one-sidebar div#centre {
   min-width: 400px;
   width: 80%;
   float: left;
}

body.one-sidebar div#left {
   min-width: 175px;
   width: 20%;
   float: left;
}
body.one-sidebar div#right {
   min-width: 175px;
   float: left;
}

/* 3 column layout */
body.two-sidebars div#centre {
   width: 60%;
   min-width: 400px;
   float: left;
}
body.two-sidebars div#left {
   width: 20%;
   min-width: 150px;
   float: left;
}
body.two-sidebars div#right {
   width: 20%;
   min-width: 150px;
   float: left;
}

a {
   text-decoration: none;
}
a:hover {
   text-decoration: underline;
}

div#content_top div#block-menu-primary-links li,
div#content_bottom div#block-menu-primary-links li,
div#header_outer div#block-menu-primary-links li,
div#footer_outer div#block-menu-primary-links li,
div#content_top div#block-menu-secondary-links li,
div#content_bottom div#block-menu-secondary-links li,
div#header_outer div#block-menu-secondary-links li,
div#footer_outer div#block-menu-secondary-links li {
   display: inline;
}
