body {
   background-color: #000000;
   color: #FFFFFF;
}

a:link, a:visited {
   background-color: #000000;
   color: #FFFFFF;
   text-decoration: underline;
}

a:hover {
   background-color: #0000FF;
}

div#left>.b0,
div#right>.b0,
div#centre>.b0 {
   border: solid 1px #FFFF00;
   padding: 5px;
}

ul.primary li a {
   background-color: #000000;
   color: #FFFFFF;
}

ul.primary li.active a,
ul.primary li a:hover {
   background-color: #000099;
   color: #FFFFFF;
}

ul.secondary li a {
   background-color: #000000;
   color: #FFFFFF;
}

ul.secondary li.active a,
ul.secondary li a:hover {
   background-color: #000099;
   color: #FFFFFF;
}

tr.even, tr.odd {
   background-color: #111111;
}