body {
   background-color: #FFFFCC;
   color: #000099;
}

a:link, a:visited {
   background-color: #FFFFCC;
   color: #000099;
   text-decoration: none;
}

a:hover {
   text-decoration: underline;;
}

div#left>.b0,
div#right>.b0,
div#centre>.b0 {
   border: solid 1px #9999FF;
   padding: 5px;
}

ul.primary li a {
   background-color: #FFFFCC;
   color: #000099;
}

ul.primary li.active a,
ul.primary li a:hover {
   background-color: #6666CC;
   color: #FFFFFF;
}

ul.secondary li a {
   background-color: #FFFFCC;
   color: #000099;
}

ul.secondary li.active a,
ul.secondary li a:hover {
   background-color: #6666CC;
   color: #FFFFFF;
}

tr.even, tr.odd {
   background-color: #FFFFCC;
}