body {
   font-family: arial, sans-serif;
   font-size: medium;
}

div#accessibility ul,
div#accessibility li,
div#accessibility div {
   display: inline;
}

div.modes h2,
div.modes h3,
div.modes div {
   display: inline;
   font-size: 1em;
}

